# Общие файлы и папки IDE
.idea/
*.iml
*.iws

# Исключить каталоги IntelliJ IDEA
/out/
.gradle/
build/

# Исключить файлы операционной системы
.DS_Store
Thumbs.db

# Исключить временные файлы и файлы сессий
*.log
*.lock
*.tmp
*.swp

# Исключить бинарные файлы и результаты сборки
*.class
*.jar
*.war
*.ear

# Исключить файлы настроек для других IDE (например, Eclipse, NetBeans и т.д.)
.project
.classpath
.csettings
.vscode/

# Исключить конфигурационные файлы Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Исключить результат выполнения Checkstyle и другие временные файлы
config/checkstyle/*.html
config/checkstyle/*.xml

# Исключить локальные настройки среды
.env
